.contenedor{
	max-width: 800px;
	margin: auto;
	padding: 40px 0;
	text-align: center;
}

.minimenu {
	border: 1px solid white;
	border-radius: 5px;
	padding: 8px;
	font-size: 10px;
	margin-right: 10px;
	float: right;
	display: none;
}

nav .contenedor{
	padding: 25px 0;
	overflow: auto;
}

.logo, .menu, .titulo, h1, .minimenu{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-weight: bold;
}

.logo{
	float: left;
	margin-left: 15px;
}

.menu{
	float: right;
	font-size: 10px;
}

.menu li {
	padding: 0 7px;
}

header img {
	width: 150px;
	height: 150px;
	margin-top: 5px;
}

h1 {
	font-size: 40px;
	margin: 15px;
}

nav{
	background-color: #273d51;
}

header, .about{
	background-color: #00c19e;
}

.ion-android-star{
	display: inline-block;
	font-size: 25px;
	margin: 6px;
	margin-bottom: 15px;
}

.star-black{
	color: black;
}

.star-white{
	color: white;
}

.star-white:before, .star-white:after{
	background-color: white;
	display: inline-block;
	height: 4px;
	width: 50px;
	content: "";
	font-size: 30px;
	margin-bottom: 7px;
}

.titulo {
	font-size: 23px;
}

p{
	color: white;
	font-family: 'Open Sans', sans-serif;

}

header p {
	font-size: 14px;
}

.portfolio img{
	max-width: 30%;
	padding: 8px;
}

.portfolio img:hover {

}

.portfolio .titulo, .portfolio .ion-android-star, .contact 	.titulo{
	color: black;
	font-weight: bold;
}

.star-black:before, .star-black:after{
	background-color: black;
	display: inline-block;
	height: 4px;
	width: 50px;
	content: "";
	font-size: 30px;
	margin-bottom: 7px;
}

a{
	color: white;
	text-decoration: none;
}

.about .flex {
	display: flex;
	justify-content: center;
}

.about .flex p {
	max-width: 35%;
	text-align: left;
	font-size: 14px;
	padding: 0 10px;
	line-height: 140%;
}

.boton-transparente{
	border: 1px solid white;
	display: inline-block;	
	border-radius: 6px;
	padding: 8px;
	margin: 15px;
}

.link{
	display: inline-block;
}

form input, textarea{
	display: block;
	width: 100%;
	margin: auto;
	border: 0;
	border-top: 1px solid #f0f0f0;
	font-family: 'Montserrat', sans-serif;
	height: 40px;
	font-size: 12px;
}

form .message{
	border-bottom: 1px solid #f0f0f0;
	height: 80px;
	padding-top: 12px;
}

form .send{
	display: inline-block;
	background-color: #00c19e;
	color: white;
	max-width: 50px;
	padding: 5px;
	border-radius: 6px;
	height: 30px;
	margin-top: 8px;
}

.form{
	position: center;
	text-align: left;
	width: 65%;
	margin: auto;
}

footer{
	background-color: #273d51;
}

footer .contenedor {
	display: flex;
}

footer .contenedor article {
	flex: 1;
}

footer .contenedor article h3 {
	font-size: 15px;
	margin-bottom: 20px;
}

footer .contenedor article p {
	font-size: 12px;
	width: 70%;
	margin: auto;
}

.copyright{
	background-color: #203041;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	font-size: 10px;
}

.iconos{
	color: white;
	border: 1px solid white;
	border-radius: 50%;
	padding: 10px 12px;
	font-size: 20px;
}

.facebook {
	padding: 10px 16px;
}

ul li{
	display: inline-block;
}

.bootstrap-link{
	color: #00ba9c;
}

@media screen and (max-width: 320px) {
	.logo {
		margin-top: 5px;
		margin-left: 10px;
	}
	header .contenedor {
		padding: 10px;
	}
	.menu {
		display: none;
	}
	.minimenu {
		display: inline-block;
	}
	h1 {
		font-size: 25px;
	}
	.star-black:before, .star-black:after, .star-white:before, .star-white:after {
		width: 100px;
	}

	.portfolio .imagenes {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.portfolio .imagenes img {
		max-width: 100%;
	}

	.about .flex {
		flex-direction: column;
	}

	.about .flex p {
		max-width: 100%;
		margin-top: 10px;
	}

	.contact .form {
		width: 90%;
	}

	footer .contenedor {
		flex-direction: column;
	}

	footer .contenedor article {
		margin-bottom: 25px;
	}
}